/* 변수 */
@import url("/src/index.css");
/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* 영문 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

header {
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;
  box-sizing: border-box;
}
.navigation {
  max-width: 1350px;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.top-menu {
  display: flex;
  align-items: center;

  margin-left: auto;
  gap: 10px;

  transition: all 0.3s ease;
}
.login-button {
  display: flex;
  margin-left: auto;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 600;
}
.search-bar {
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

.login-button:hover {
  color: var(--sub);
  font-weight: 600;
}
.search-bar:hover {
  color: var(--sub);
  font-weight: 600;
}
.logo-image {
  text-align: center;
}
.logo-image > img {
  max-width: 160px;
  height: auto;
  width: 100%;

  cursor: pointer;
}
.menu-area {
  padding: 10px 0;
  box-sizing: border-box;
  margin-top: 20px;
  transition: all 0.3s ease;
}
.menu-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.menu-list li {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.84px;

  position: relative;
}
.menu-list li:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background: var(--main);
  transition: all 0.3s ease;
}

.menu-list li:hover {
  color: var(--main);
  font-weight: 600;
}

.menu-list li:hover:before {
  width: 100%;
}

main.content {
  max-width: 1350px;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
}
.product-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-box {
  width: calc((100% - 60px) / 3);
  transition: all 0.4s linear;
  cursor: pointer;
}
.card-box dt {
  position: relative;
  overflow: hidden;
}
.card-box dt img {
  width: 100%;
  box-sizing: border-box;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.card-box dt p {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  box-sizing: border-box;
  background: var(--sub);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
}

.card-box dd {
  padding: 10px 0;
  box-sizing: border-box;
}
.card-box dd h3 {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.1px;
  line-height: 120%;
  color: var(--black);

  margin-bottom: 6px;
}
.card-box dd p {
  font-size: 1.05rem;
  letter-spacing: 0;
  color: var(--black);
  font-weight: 400;
}

.card-box:hover dt img {
  transform: scale(1.1);
  transition: all 0.4s linear;
}
.card-box:hover dd h3 {
  color: var(--sub);
}

/* 검색창 */
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* input 초기 */
.search-bar input {
  width: 0;
  opacity: 0;
  transform: translateX(20px);
  border: none;
  outline: none;
  padding: 0;
  height: 30px;
  border-radius: 4px;
  border: 1px solid var(--sub);
  margin-left: 5px;
  transition: width 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}

/* 활성화  */
.search-bar.active input {
  width: 160px;
  opacity: 1;
  transform: translateX(0);
  padding: 0 8px;
}

/* 로그인페이지 */
.login-section {
}
.login-section .text-cont {
  text-align: center;
}
.login-section .text-cont h3 {
  font-size: 3.4rem;
  color: var(--main);
  font-weight: 700;
  letter-spacing: -0.1px;
}
.login-section .text-cont p {
  color: var(--black);
  font-size: 1.2rem;
  letter-spacing: -0.56px;
  line-height: 120%;
}
.login-section .text-cont p span {
  color: var(--main);
  font-weight: 600;
  line-height: inherit;
  letter-spacing: inherit;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.login-form .control {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-form .control + .control {
  margin-top: 20px;
}
.login-form .control label {
  font-size: 1.2rem;
  letter-spacing: -0.64px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 6px;
}
.login-form .control input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: 10px;
}
.login-form .control input::placeholder {
  font-size: 0.9rem;
  font-family: var(--eng);
  letter-spacing: 0 !important;
}
.login-form .control input:focus {
  border-color: var(--black);
}
.login-form .control button {
  width: 100%;
  background: var(--sub);
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  margin: 16px 0 5px;
  overflow: hidden;

  position: relative;
  transition: all 0.4s linear;
}
.login-form .control button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;

  background: var(--white);
  transition: all 0.4s linear;
}
.login-form .control button span {
  color: var(--white);
  width: 100%;
  display: block;
  font-size: 1.2rem;

  z-index: 9;
}
.login-form .control button:hover::before {
  width: 100%;
}
.login-form .control button:hover span {
  color: var(--sub);
}
.login-form .control p {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: -0.54px;
  font-weight: 500;

  transition: all 0.3s ease;
  cursor: pointer;
}
.login-form .control p:hover {
  color: Var(--black);
}
/* 상세페이지 */
.pro-view {
}
.pro-cont {
  margin-bottom: 80px;
}
.pro-cont dl {
  display: flex;
}
.pro-cont dl dt {
  width: 45%;
}
.pro-cont dl dt img {
  width: 100%;
  height: auto;
}
.pro-cont dl dd {
  width: 55%;
  margin-left: 40px;

  padding: 60px 0 0 0;
}
.pro-cont dl dd span {
  display: inline-block;
  background: var(--light);
  padding: 3px 10px;
  box-sizing: border-box;
  border-radius: 20px;

  font-size: 14px;
  color: var(--white);
  font-weight: 600;
}
.pro-cont dl dd h3 {
  color: var(--black);
  margin: 10px 0 20px;

  font-size: 2.2rem;
  letter-spacing: -0.54px;
}
.pro-cont dl dd p {
  font-size: 1.6rem;
  color: Var(--black);
}
.pro-cont dl dd .choice {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.pro-cont dl dd .choice button {
  background: var(--white);
  border: 1px solid var(--light);
  border-radius: 10px;

  cursor: pointer;

  padding: 10px 16px;
  box-sizing: border-box;
  font-size: 1rem;

  transition: all 0.3s ease;
}
.pro-cont dl dd .choice button:hover {
  border-color: var(--sub);
  color: var(--black);
}
.pro-cont dl dd .purchase {
  width: 100%;

  margin-top: 50px;
}
.pro-cont dl dd .purchase button {
  width: 100%;
  padding: 16px 10px;
  box-sizing: border-box;

  background: var(--sub);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;

  border: 1px solid transparent;
  border-radius: 10px;

  cursor: pointer;

  transition: all 0.4s ease;
}
.pro-cont dl dd .purchase button:hover {
  border-color: var(--sub);
  background: var(--white);
  color: var(--sub);
}
.detail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail-info h4 {
  background: var(--grayBg);

  padding: 10px 12px;
  box-sizing: border-box;

  font-size: 1.6rem;
  color: Var(--black);
}
.detail-info img {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.detail-info {
}

/*******************************************************************************
    @media  ~980px               
*******************************************************************************/
@media all and (max-width: 980px) {
  .logo-image > img {
    max-width: 120px;
  }

  .menu-list li {
    letter-spacing: -0.64px;
  }

  .product-wrap {
    gap: 20px;
  }
  .card-box {
    width: calc((100% - 20px) / 2);
  }

  .card-box dd {
    padding: 10px 0;
  }
  .card-box dd h3 {
    font-size: 1.1rem;
    letter-spacing: -0.1px;
  }
  .card-box dd p {
    font-size: 1.02rem;
  }

  /* 상세페이지 */

  .pro-cont {
    margin-bottom: 60px;
  }

  .pro-cont dl dt {
  }

  .pro-cont dl dd {
    margin-left: 30px;

    padding: 20px 0 0 0;
  }
  .pro-cont dl dd span {
    padding: 3px 10px;
  }
  .pro-cont dl dd h3 {
    margin: 10px 0 16px;

    font-size: 2rem;
  }
  .pro-cont dl dd p {
    font-size: 1.4rem;
  }
  .pro-cont dl dd .choice {
    gap: 10px;
    margin-top: 16px;
  }
  .pro-cont dl dd .choice button {
    padding: 10px 12px;
  }

  .pro-cont dl dd .purchase {
    margin-top: 35px;
  }
  .pro-cont dl dd .purchase button {
    padding: 14px 10px;

    font-size: 1.15rem;

    border-radius: 10px;
  }

  .detail-info h4 {
    padding: 10px 12px;

    font-size: 1.4rem;
  }
}
/*******************************************************************************
    @media 481~680px
*******************************************************************************/
@media all and (max-width: 680px) {
  .navigation {
    padding: 16px 0;
  }
  .top-menu {
    gap: 6px;
  }
  .logo-image > img {
    max-width: 90px;
  }
  .menu-area {
    padding: 8px 0;
    margin-top: 16px;
  }
  .menu-list {
    gap: 16px;
  }
  .menu-list li {
    letter-spacing: -0.56px;
  }

  .product-wrap {
    gap: 20px;
  }
  .card-box {
    width: 100%;
  }

  .card-box dt p {
    padding: 4px;
    font-size: 13px;
  }

  .card-box dd h3 {
    font-size: 1.05rem;

    margin-bottom: 4px;
  }
  .card-box dd p {
    font-size: 0.96rem;
  }

  .search-bar.active input {
    width: 120px;
  }

  /* 상세페이지 */

  .pro-cont {
    margin-bottom: 60px;
  }

  .pro-cont dl {
    flex-wrap: wrap;
  }
  .pro-cont dl dt {
    width: 100%;
  }

  .pro-cont dl dd {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;

    padding: 0 0 0 0;
  }
  .pro-cont dl dd span {
    padding: 3px 8px;
    border-radius: 16px;
  }
  .pro-cont dl dd h3 {
    margin: 10px 0 16px;

    font-size: 1.75rem;
  }
  .pro-cont dl dd p {
    font-size: 1.4rem;
  }
  .pro-cont dl dd .choice {
    gap: 8px;
    margin-top: 12px;
  }
  .pro-cont dl dd .choice button {
    padding: 8px 10px;
  }

  .pro-cont dl dd .purchase {
    margin-top: 20px;
  }
  .pro-cont dl dd .purchase button {
    padding: 12px 8px;

    font-size: 1.05rem;

    border-radius: 8px;
  }

  .detail-info h4 {
    padding: 8px 10px;

    font-size: 1.2rem;
  }
}
